body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-undav {
  width: 1003px;
  height: 132px;
  background: #2a3665 url(/banners/bannerUndav.jpg) no-repeat;
  margin: auto;
}

.hearder-abuelas {
  width: 1003px;
  height: 132px;
  margin: auto;
}
